*{
	margin:0;
	padding:0;
}
body,html{
	color:white;
	font-family:san-serif;
	display:flex;
	justify-content:center;
	align-items:center;
	min-height:100vh;
}
body{
	background:url("images/6.png")  no-repeat;
	background-size:cover;
	background-position:bottom;
}
.center .avatar img{
	border-radius:50%;
	width:140px;
	height:140px;
	margin-top:5%;
	object-fit:cover;
	object-position: 0 -8px;
}
.center{
	width:1000px;
	background-color:rgba(0,0,0,0.7);
	height:60hv;
	text-align:center;
	border-radius:5px;
}
.content{
	padding:30px;
}
h1{
	color:wheat;
}
.content h2,p{
	font-weight:lighter;
	letter-spacing:1px;
	width:70%;
	margin:10px auto;
}
.content h2{
	font-weight:400;
}
.content h3{
	margin-top:20px;
}
table{
	position:relative;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	width:60%;
	text-align:center;
}